.add-folder {
  flex: none;
  color: #1890ff;
  cursor: pointer;
}

.error-text {
  color: red;
}

.ant-select-item-option-content {
  display: flex;
  align-items: center;
}

.edit-folder:hover {
  color: blue;
}

.delete-folder:hover {
  color: red;
}

.folder-name-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}